<template>
  <header
    class="bg-blue-100 text-grey-400 flex justify-between mt-10 mb-3 p-3"
  >
    <h1 class="text-sm md:text-2xl">
      Womens Tops
    </h1>
    <select @change="changeFilter">
      <option value="">
        Filter by size
      </option>
      <option
        v-for="size in filters"
        :key="size"
        :value="size"
      >
        {{ size }}
      </option>
    </select>
  </header>
</template>

<script>
export default {
  computed: {
    // Get all sizes/filters from the store
    filters() {
      return this.$store.getters.sizeFilters
    }
  },
  methods: {
    // change the global state of the selected filter when changing the select
    changeFilter(event) {
      this.$store.commit('setFilter', event.target.value)
    }
  }
}
</script>
