<template>
  <div class="product w-1/2 md:w-1/4 border p-2 pb-5 flex flex-col">
    <div>
      <img
        :src="imgUrl"
        :alt="product.productName"
        width="280"
        height="280"
        class="block"
      >
      <div
        v-if="product.isSale"
        class="text-white text-xs px-5 py-2 inline-block bg-red-600"
      >
        Sale
      </div>
      <div
        v-else-if="product.isExclusive"
        class="text-white text-xs px-5 py-2 inline-block bg-green-600"
      >
        Exclusive
      </div>
      <div
        v-else
        class="text-white text-xs px-5 py-2 inline-block"
      >
        &nbsp;
      </div>
    </div>
    <div
      class="mt-5 flex justify-between items-end flex-grow text-gray-700"
    >
      <h3 class="font-bold md:text-md mr-2">
        {{ product.productName }}
      </h3>
      <div class="font-bold text-lg md:text-2xl md:leading-tight">
        {{ product.price }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // The product is passed to the component as an object
  props: {
    product: {
      type: Object,
      default: function() {
        return { id: 0 }
      }
    }
  },
  // The images need to be pointed to the absolute location of the images in the static directory so need to have their source computed
  computed: {
    imgUrl() {
      return `/img/${this.product.productImage}`
    }
  }
}
</script>

<style>
.product {
  margin: 0px;
  box-shadow: 0 0 1px lightgrey;
}
</style>
