<template>
  <div>
    <section class="container">
      <Header />
      <div class="flex flex-wrap products">
        <!-- The ProductCard component accepts the product prop. We just need to loop over all of the filtered products and pass each product via the prop and use the product.index for the key -->
        <ProductCard v-for="product in products" :key="product.index" :product="product" />
      </div>
    </section>
  </div>
</template>

<script>
import Header from '~/components/Header'
import ProductCard from '~/components/ProductCard'
export default {
  components: {
    Header,
    ProductCard
  },
  computed: {
    // Pull in the filtered products from the global store
    products() {
      return this.$store.getters.filteredProducts
    }
  }
}
</script>

<style>
.products {
  margin: 1px;
}
</style>
