<template>
  <div>
    <ProductFilter />
  </div>
</template>

<script>
import ProductFilter from '~/components/ProductFilter'
export default {
  components: {
    ProductFilter
  }
}
</script>

<style>
/* Sample `apply` at-rules with Tailwind CSS
.container {
  @apply min-h-screen flex justify-center items-center text-center mx-auto;
}
*/
</style>
